* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    nav-left: 1000px;
    max-width: 100%;
    min-height: 2000px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

nav {
    position: fixed;
    left: 0;
    display: flex;
    width: 250px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    
}

nav ul {
    width: 100%;
    /* display: flex; */
    text-align: center;
    line-height: 80px;
    justify-items: center;
    /* background-color: black; */
}

nav ul a {
    color: white;
    box-sizing: border-box;
    font-size: 18pt;
    /* background-color: black; */
}

ul li:hover a {
    border-bottom: 3px solid rgb(255, 159, 32);
    font-size: 20pt;
    color: rgb(255, 187, 0);
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 220px;
}



.profil {
    width: 10rem;
    position: relative;
    border-radius: 50%;
}

.content {
    height: 50vh;
    width: 70vh;
    display: block;
    position: relative;
    text-align: center;   
    /* background-color: rgb(168, 168, 85); */
}

.content h1 {
    margin: 10px;
    color: rgb(255, 187, 0);
    font-size: 24pt;
}

.content p {
    color: aliceblue;
    margin: 10px;
    font-size: 20pt;   
}

.content span {
    color: rgb(255, 187, 0);;
}

.tentang {
    margin-left: 250px;
    margin-top: -20px;
    min-height: 100vh;
    display: flexbox;
    /* background-color: aquamarine; */
}

.about h1 {
    padding-top: 40px;
    padding-left: 40px;
    font-family: 'Times New Roman', Times, serif;
    /* background-color: aquamarine; */
}
.about p {
    padding: 20px 40px;
}

.about ul {
    margin: 20px 40px;
    list-style-type: decimal;
    line-height: 50px;
}

#Porto {
    margin-left: 250px;
    min-height: 100vh;
    display: flexbox;
    padding-top: 5px;
    /* border-top: 1px solid black; */
    /* background-color: rgb(192, 170, 149); */
}

.portofolio {
    height: 100vh;
    width: 75vw;
    border: 1px solid black;
    border-radius: 5px;
    margin: 30px;
    box-shadow: 20px 20px 50px grey;
}

.portofolio h1 {
    padding-top: 20px;
    padding-left: 40px;
    font-family: sans-serif;
    /* background-color: aquamarine; */
}

.portofolio div li {
    display: inline-block;
    margin-left: 40px;
    padding: 20px;
    font-weight: bold;
    
}

.portofolio div li a {
    color: black;
}

.portofolio div li:hover a {
    border-bottom: 2px solid  rgb(255, 187, 0);
}

.gambar {
    height: 430px;
    /* background-color: sandybrown; */
    display: flex;
    padding: 30px;
    
}
.gambar1 {
    width: 300px;
    border-radius: 10px;
    margin: 0 20px;
}

.gambar2 {
    width: 300px;
    border-radius: 10px;
    margin: 0 20px;
}

.gambar3 {
    width: 250px;
    border-radius: 10px 10px 0 0;
}

#Articles {
    margin-left: 250px;
    min-height: 100vh;
    display: flexbox;
    padding-top: 20px;
    /* border-top: 1px solid black; */
    /* background-color: rgb(192, 170, 149); */
}

.articles {
    margin-left: 30px;
    margin-top: 20px;
    min-height: 100vh;
    width: 75vw;
    display: flexbox;
    /* background-color: beige; */
}

.news {
    height: 90vh;
    width: 70vw;
    border-radius: 5px;
    margin: 30px;
    display: flex;
    justify-content: space-around;
    /* background-color: aquamarine; */
}

.artikel1 {
    /* background-color: antiquewhite; */
    box-shadow: 20px 20px 50px grey;
    height: 550px;
    width: 250px;
    display: block;
    border-radius: 10px;
}

.content1 {
    margin: 15px;
    line-height: 25px;
}