* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100vh;
    nav-left: 1000px;
    max-width: 100%;
    min-height: 2000px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

nav {
    position: fixed;
    left: 0;
    display: flex;
    width: 250px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    align-items: center;
    
}

nav ul {
    width: 100%;
    /* display: flex; */
    text-align: center;
    line-height: 80px;
    justify-items: center;
    /* background-color: black; */
}

nav ul a {
    color: white;
    box-sizing: border-box;
    font-size: 18pt;
    /* background-color: black; */
}

ul li:hover a {
    border-bottom: 3px solid rgb(255, 159, 32);
    font-size: 20pt;
    color: rgb(255, 187, 0);
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 220px;
}



.profil {
    width: 10rem;
    position: relative;
    border-radius: 50%;
}

.content {
    height: 50vh;
    width: 70vh;
    display: block;
    position: relative;
    text-align: center;   
    /* background-color: rgb(168, 168, 85); */
}

.content h1 {
    margin: 10px;
    color: rgb(255, 187, 0);
    font-size: 24pt;
}

.content p {
    color: aliceblue;
    margin: 10px;
    font-size: 20pt;   
}

.content span {
    color: rgb(255, 187, 0);;
}

.tentang {
    margin-left: 250px;
    margin-top: -20px;
    min-height: 100vh;
    display: flexbox;
    /* background-color: aquamarine; */
}

.about h1 {
    padding-top: 40px;
    padding-left: 20px;
    /* background-color: aquamarine; */
}
.about p {
    padding: 20px;
}

.about ul {
    margin: 20px;
    list-style-type: decimal;
    line-height: 50px;
}