* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100vh;
    margin-left: 250px;
    min-height: 2000px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

nav {
    position: fixed;
    left: 0;
    display: flex;
    width: 250px;
    height: 100%;
    background-color: rgb(13, 18, 19);
    align-items: center;
    
}

nav ul {
    width: 100%;
    /* display: flex; */
    text-align: center;
    line-height: 80px;
    justify-items: center;
    /* background-color: black; */
}

nav ul a {
    color: white;
    box-sizing: border-box;
    font-size: 18pt;
    /* background-color: black; */
}

ul li:hover a {
    border-bottom: 3px solid rgb(255, 159, 32);
    font-size: 20pt;
    color: rgb(255, 187, 0);
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;
    
}

.profil {
    width: 15rem;
    
    border-radius: 50%;
}

.content {
    color: rgb(255, 187, 0);
    text-align: center;
}